body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F1F1;
}

#heading {
    margin-left: 50px;
    color: white;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
}

/* Navbar styling */
.navbar {
    margin: 0px;
    background-color:  #07A219;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 900px;
}

.nav-element {
    margin-right: 150px;
    padding: 15px 20px 15px 20px;
}

/* some more fine adjustments */
#dash-element {
    border: #08d01f 1px solid;
    border-radius: 200px;
    background-color: #08d01f;
}

/* some fine adjustments */
#hist-element {
    width: 97.817px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    width: 78px;
    height: 20px;
}

.navlink {
    font-size: 20px;
}


/* transaction container styling */
.transact-container {
    margin-top: 20px;
    margin-right: 450px;
    display: flex;
    justify-content: end;
}

/* Actual transaction button styling */
.newtransaction {
    color: white;
    background-color: #07A219;
    width: 100px; 
    border: 1px solid #07A219;
    border-radius: 20px;
    cursor: pointer;
}

.newtransaction:hover {
    background-color: #07d31f;
}


/* Balance Container */
/* contains the balance chart */
.balance-container {
    display: flex;
    justify-content: center;
}


/* Balance chart */
/* The part where you see your balance */
.balance-chart {
    text-align: center;
    margin-top: 60px;
    padding-top: 20px;
    background-color: white;
    width: 700px;
    height: 300px;
}

.popup-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Transaction form that will be hidden until I press new transaction */
.transact-form {
    text-align: center;
    display: flex;
    gap: 20px;
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 230px 500px 50px 700px; /* this centers the elements in the form (top, right, bottom, left) */
    flex-direction: column;
    width: 500px;
    align-items: center;
    background-color: whitesmoke;
    border: 1px black solid;
}

#transaction-type {
    margin-top: 10px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    background-color: #dae2db;
    width: 100px; 
    height: 30px;
    border: 1px solid #dae2db;

}


.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    padding: 0;
    width: 70px;
    height: 70px;
}

.close-btn:hover {
    color: rgb(14, 211, 14);
}

#submit-order {
    margin-top: 10px;
    margin-top: 10px;
    color: white;
    background-color: #07A219;
    width: 100px; 
    height: 30px;
    border: 1px solid #07A219;
    cursor: pointer;
}

/* History Container */
/* Contains the History chart */
/* Should change the flex direction to column soon */
.hist-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

/* History Chart */
/* Where all your past transactions go */
.hist-chart {
    background-color: white;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    
}

/* The Recent History h3 element is leaning into the div like a drunkard. I don't like it */
.rec-hist {
    margin-left: 25px;
}

/* This is the stylish line sitting in the web page */
hr {
    width: 688px;
}

/* Contains the entries */
.entries-container {
    overflow-y: scroll;
    height: 600px;
    scrollbar-width: none;
}

/* These are the entries */
.entry {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#amount-red {
    color: red;
}

#amount-green {
    color: green;
}