body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F1F1;
}

#heading {
    margin-left: 50px;
    color: white;
}

.navbar {
    margin: 0px;
    background-color:  #07A219;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 900px;
}

.navbar li {
    margin-right: 100px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding-top: 23px;
    text-align: center;
    border-radius: 50px;
    width: 78px;
    height: 20px;
}




/* History Container */
/* Contains the History chart */
/* Should change the flex direction to column soon */
.hist-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

/* History Chart */
/* Where all your past transactions go */
.hist-chart {
    background-color: white;
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: column;
    
}

/* The Recent History h3 element is leaning into the div like a drunkard. I don't like it */
.rec-hist {
    margin-left: 25px;
}

/* This is the stylish line sitting in the web page */
hr {
    width: 688px;
}

/* Contains the entries */
.entries-container {
    overflow-y: scroll;
    height: 600px;
    scrollbar-width: none;
}

/* These are the entries */
.entry {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#amount-red {
    color: red;
}

#amount-green {
    color: green;
}